@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
	box-sizing: content-box
}

:root {
	--main-grey-1: #eee;
	--main-grey-2: #ddd;
	--main-grey-3: #ccc;
	--main-pink-1: rgb(255, 157, 214);
}

body {
	background-color: var(--main-grey-1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
