.auth-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.register-container {
	padding: 0 20px;
	display: inline-block;
	border-right: solid 2px var(--main-grey-1);
}

.login-container {
	padding: 0 20px;
	display: inline-block;
}

.auth-title {
	margin-top: 15px;
}

.auth-submit:hover {
	cursor: pointer;
}

.forgot-identifiers-container {
	margin-top: 13px;
}

.forgot-identifiers {
	margin-top: 9px;
	max-width: 100px;
	font-size: 13.3333px;
	margin-bottom: 0;
	text-align: left;
}

.error-input {
	margin: 0 0 5px;
	color: red;
	font-size: 13.3333px;
	text-align: left;
	width: 200px;
}

.error-input.off {
	display: none;
}

.form-validation-message {
	margin: 0 0 5px;
	color: green;
	font-size: 13.3333px;
	text-align: left;
	width: 200px;
}

.form-validation-message.off {
	display: none;
}

.auth-form.on > input {
	pointer-events: none;
	opacity: 0.4;
}

.auth-form.on > input[type=email],
.auth-form.on > input[type=text],
.auth-form.on > input[type=password] {
	text-decoration: line-through;
}

@media screen and (max-width: 450px) {
	.auth-container {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.register-container {
		width: 250px;
		margin-top: 15px;
		border-top: solid 2px var(--main-grey-1);
		border-right: none;
	}
	.login-container {
		width: 250px;
	}
	.forgot-identifiers {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}