:root {
	--main-chat-min-width: 150px;
}

.chat-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.pretenders-chat-list {
	display: inline-block;
	width: var(--main-chat-min-width);
	border-right: solid 2px var(--main-grey-1);
	padding: 15px;
	background-color: rgba(0, 0, 255, 0.404);
}

.chat-box {
	display: inline-block;
	width: calc(100% - var(--main-chat-min-width));
	height: 400px;
	background-color: rgba(0, 255, 42, 0.404);
}

@media screen and (max-width: 450px) {
	.chat-container {
		flex-direction: column-reverse;
	}
	
	.pretenders-chat-list {
		border-top: solid 2px var(--main-grey-1);
		width: 100%;
	}

	.chat-box {
		width: 100%;
	}
}