.chat-message-input {
	display: inline-block;
}

.form-input.chat-send-input {
	width: 50px;
	display: inline-block;
	margin-left: 10px;
}

.message-container {
	width: 340px;
	margin: 30px auto 10px;
	height: 360px;
	overflow: auto;
}