footer {
	padding: 15px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	display: inline-block;
}

.footer-img {
	width: 40px;
	margin: 10px;
}

.footer-img:hover {
	cursor: pointer;
}

.disconnect-btn {
	width: max-content;
	margin: 6px auto 0;
}