header {
	top: 0;
	overflow: hidden;
	position: fixed;
	width: 100%;
	background-color: var(--main-pink-1);
	z-index: 100;
}

.title {
	transition: transform 0.2s;
}

.title:hover {
	transform: scale(1.1);
}

.header-top {
	padding-top: 15px;
	padding-bottom: 5px;
}

.header-bottom {
	padding-bottom: 5px;
}

.header-img {
	width: 37px;
	margin: 10px;
}

.blocked-hander-img {
	opacity: 0.07;
}