header {
	top: 0;
	overflow: hidden;
	position: fixed;
	width: 100%;
	background-color: var(--main-pink-1);
	z-index: 100;
}

.header-top {
	padding-top: 15px;
	padding-bottom: 5px;
}

.header-bottom {
	padding-bottom: 5px;
}

.header-img {
	width: 37px;
	margin: 10px;
}

.blocked-hander-img {
	opacity: 0.07;
}

.new_notification {
	transform: scale(2)
}

.new_notification {
	animation: pulse 2s infinite;
	/* opacity: 0.4; */
}

@keyframes pulse {
	0% {
		transform: scale(1)
	}
	50% {
		transform: scale(1.1)
	}
	100% {
		transform: scale(1)
	}
}