.auth-container {
	padding-top: 8px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.register-container {
	padding: 0 20px;
	display: inline-block;
	border-right: solid 2px var(--main-grey-1);
}

.login-container {
	padding: 0 20px;
	display: inline-block;
}

.auth-title {
	margin-top: 15px;
}

.auth-input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 5px;
	width: 190px;
}

.auth-submit:hover {
	cursor: pointer;
}

.forgot-identifiers-container {
	margin-top: 13px;
}

.forgot-identifiers{
	margin-top: 9px;
	max-width: 100px;
	font-size: 13.3333px;
	margin-bottom: 0;
	text-align: left;
}

@media screen and (max-width: 450px) {
	.auth-container {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	
	.register-container {
		width: 250px;
		margin-top: 15px;
		border-top: solid 2px var(--main-grey-1);
		border-right: none;
	}

	.login-container {
		width: 250px;
	}

	.forgot-identifiers {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}