.update-actual-tags-list {
	font-style: italic;
	margin: 0 10px 10px;
	line-height: 2;
}

.update-actual-tags-list > span {
	background-color: var(--main-grey-3);
	padding: 4px;
	border-radius: 4px;
}

.update-tag-span:hover {
	cursor: pointer;
	text-decoration : line-through;
	opacity: 0.5;
}