.search-carousel-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.search-carousel-more-input {
	margin: 15px auto 0;
}

.search-carousel-more-input:hover {
	cursor: pointer;
}