.profil-title {
	margin: 15px 0 0;
}

.profile-info-container {
	margin: 100px auto 0;
	padding-top: 80px;
	width: 300px;
	position: relative;
}

.connection-status {
	margin: 0;
}

.profile-info-list-container {
	margin-top: 15px;
}