[Desktop Entry]
Encoding=UTF-8
Name=Lien vers <input> - HTML (HyperText Markup Language) | MDNdeveloper.mozilla.org › docs › Web › HTML › Element
Type=Link
URL=https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input
Icon=text-html
