.update-gallery-container {
	background-color: var(--main-grey-1);
	width: 300px;
	margin: 0 auto;
	padding: 15px 10px 5px;
}

.form-input.file-input {
	width: initial;
	overflow:hidden;
}

.update-gallery-img, .update-gallery-img-profile {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.update-gallery-img-profile {
	border-radius: 50%;
}